.drawer_boost {
  width: auto !important;
  background: #0f3771;
  background: radial-gradient(circle, #0f3771 16%, #062148 97%);
}

.drawer_boost .offcanvas-body {
  max-width: 50rem;
  min-width: 50rem;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 575px) {
  .drawer_boost .offcanvas-body {
    min-width: 36rem;
  }
}

.drawer_boost .other_link {
  margin-top: 3rem;
  border-top: 1px solid var(--color_grey);
}

.drawer_boost .divider {
  margin: 1rem 0;
  height: 1px;
  width: 100%;
  background-color: var(--color_grey);
}

.drawer_boost button.close_drawer {
  background-color: transparent;
  min-width: 3rem;
  min-height: 2.8rem;
  max-width: 3rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: var(--color_white);
  margin-bottom: 1rem;
  margin: 0.5rem;
}

.drawer_boost button.close_drawer svg {
  height: 2rem;
}

.drawer_boost .tab_drawer {
  border: none;
  background-color: #04142B !important;
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.drawer_boost .tab_drawer li {
  width: 50%;
}

.drawer_boost .tab_drawer li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  height: auto;
  min-height: auto;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  color: var(--color_secondary);
  text-transform: capitalize;
  width: 100%;
  border: none !important;
}

.drawer_boost .tab_drawer li button.active {
  background: #dee3ea !important;
  background-color: #dee3ea !important;
  color: var(--color_primary) !important;
  font-weight: 600 !important;
}

.drawer_boost .drawer_select_item.filled {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.drawer_boost .crypto_deposit li {
  margin-bottom: 1.5rem;
  background-color: var(--color_white);
  border-radius: 1rem;
  border: 1px solid var(--color_grey);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.6rem;
  position: relative;
}

.drawer_boost .crypto_deposit li:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.drawer_boost .crypto_deposit li::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../../images/arrow.svg");
  height: 1.4rem;
  width: 1.4rem;
  background-repeat: no-repeat;
}

.drawer_boost .crypto_deposit li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.drawer_boost .crypto_deposit li a .symbol_icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.4rem;
  color: var(--color_primary);
}

.drawer_boost .crypto_deposit li a .symbol_icon img,
.drawer_boost .crypto_deposit li a .symbol_icon svg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.drawer_boost .crypto_deposit li a .symbol_name {
  display: block;
  width: calc(100% - 5.5rem);
  margin-left: 2rem;
}

.drawer_boost .crypto_deposit li a .symbol_name p {
  font-size: 1.4rem;
  color: var(--color_secondary);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.drawer_boost .crypto_deposit li a .symbol_name span {
  font-size: 1.2rem;
  color: var(--color_secondary);
  padding-right: 3rem;
  display: block;
}

.drawer_boost .address_code {
  margin-top: 1.5rem;
  border-top: none;
}

.drawer_boost .address_code.bn {
  border-top: none;
}

.drawer_boost .address_code .balance_toggle {
  margin: 1.2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color_lightprimary);
  padding: 0.6rem;
}

.drawer_boost .address_code .balance_toggle .MuiToggleButton-root {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  text-transform: capitalize;
  width: 50%;
  color: var(--color_primary);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.drawer_boost .address_code .balance_toggle .MuiToggleButton-root.Mui-selected {
  background: var(--color_gradientprimary);
  color: var(--color_white);
}

.drawer_boost .address_code .transfer_code {
  padding: 0;
  margin: 1rem 0 2rem 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0.6rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #04142B !important;
}

.drawer_boost .address_code .transfer_code::before {
  display: none;
}

.drawer_boost .address_code .transfer_code .select_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.drawer_boost .address_code .transfer_code .select_symbol .symbol {
  max-height: 2.6rem;
  max-width: 2.6rem;
  height: 100%;
  width: 100%;
}

.drawer_boost .address_code .transfer_code .select_symbol .symbol_name {
  display: block;
  margin-left: 1.5rem;
}

.drawer_boost .address_code .transfer_code .select_symbol .symbol_name p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color_white);
  text-transform: capitalize;
  margin-bottom: 0;
}

.drawer_boost .address_code .transfer_code .select_symbol .symbol_name span {
  font-size: 1.2rem;
  color: var(--color_secondary);
  font-weight: 400;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.drawer_boost .address_code .transfer_code .qr_code {
  max-width: 18rem;
  max-height: 18rem;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
}

.drawer_boost .address_code .transfer_code .qr_code img,
.drawer_boost .address_code .transfer_code .qr_code svg {
  height: 100%;
  width: 100%;
}

.drawer_boost .address_code .transfer_code .copy_address_box {
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1rem;
}

.drawer_boost .address_code .transfer_code .copy_address_box .addres_Navlink p {
  font-size: 1.3rem;
  color: var(--color_secondary);
  margin-bottom: 0.4rem;
  margin-bottom: 0;
}

.drawer_boost .address_code .transfer_code .copy_address_box .addres_Navlink h5 {
  font-size: 1.4rem;
  color: var(--color_white);
  max-width: 22rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-overflow: ellipsis;
}

.drawer_boost .address_code .transfer_code .copy_address_box .addres_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.drawer_boost .address_code .transfer_code .copy_address_box .addres_action button.address_btn {
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--color_primary);
  margin: 0.2rem;
}

.drawer_boost .address_code .transfer_code .copy_address_box .addres_action button.address_btn svg {
  height: 2.2rem;
  color: var(--color_primary);
}

.drawer_boost .address_code .tips_box {
  background-color: #04142B;
  color: var(--color_secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  display: block;
}

.drawer_boost .address_code .percantage_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.8rem;
}

.drawer_boost .address_code .percantage_box .percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer_boost .address_code .percantage_box .percentage button.per_btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  color: var(--color_white);
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 0.2rem 0 0;
  min-width: 5rem;
}

.drawer_boost .address_code .percantage_box h4 {
  font-size: 1.3rem;
  color: var(--color_primary);
  font-weight: 600;
}

.drawer_boost .address_code .drawer_select_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--color_grey);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.drawer_boost .address_code .drawer_select_item .select_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer_boost .address_code .drawer_select_item .select_symbol .symbol {
  max-height: 2.6rem;
  max-width: 2.6rem;
  height: 100%;
  width: 100%;
}

.drawer_boost .address_code .drawer_select_item .select_symbol .symbol_name {
  display: block;
  margin-left: 1rem;
  max-width: calc(100% - 6rem);
}

.drawer_boost .address_code .drawer_select_item .select_symbol .symbol_name p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color_primary);
  text-transform: capitalize;
  margin-bottom: 0;
}

.drawer_boost .address_code .drawer_select_item .select_symbol .symbol_name span {
  font-size: 1.2rem;
  color: var(--color_secondary);
  font-weight: 400;
  margin-top: 0.5rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 26rem;
}

.drawer_boost .address_code button.edit_address {
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--color_lightprimary);
  color: var(--color_primary);
  padding: 0.6rem !important;
}

.drawer_boost .address_code button.edit_address svg {
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .drawer_boost {
    padding: 1.6rem 1rem;
  }
}

.drawer_select_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.drawer_select_item.filled {
  background: var(--color_primary);
}

.drawer_select_item .select_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer_select_item .select_symbol .symbol {
  max-height: 2.6rem;
  max-width: 2.6rem;
  height: 100%;
  width: 100%;
}

.drawer_select_item .select_symbol .symbol_name {
  display: block;
  margin-left: 1rem;
}

.drawer_select_item .select_symbol .symbol_name p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color_white);
  text-transform: capitalize;
  margin-bottom: 0;
}

.drawer_select_item .select_symbol .symbol_name span {
  font-size: 1.2rem;
  color: var(--color_secondary);
  font-weight: 400;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.drawer_select_item .symbol_price {
  display: block;
  text-align: right;
}

.drawer_select_item .symbol_price p {
  font-size: 1.3rem;
  color: var(--color_white);
  font-weight: 600;
  margin-bottom: 0;
}

.drawer_select_item .symbol_price span {
  font-size: 1.2rem;
  color: var(--color_grey);
  font-weight: 400;
}
/*# sourceMappingURL=drawer.css.map */