.balanceCard_box {
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border_color);
}

.balanceCard_box .card_box {
  position: relative;
  border-radius: 1.5rem;
  height: 20rem;
  overflow: hidden;
  padding: 3rem 2.5rem;
}

.balanceCard_box .card_box svg#visual {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 991px) {
  .balanceCard_box .card_box {
    height: auto;
    padding: 2rem;
  }
}

.balanceCard_box .card_simple {
  background-color: var(--color_white);
  padding: 3rem 2.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid #dfe7ef;
  height: 100%;
  position: relative;
}

.balanceCard_box .card_simple .icons {
  position: absolute;
  top: 55%;
  right: 2rem;
  color: var(--color_primary);
  z-index: 1;
  display: none;
}

@media screen and (max-width: 991px) {
  .balanceCard_box .card_simple .icons {
    top: 40%;
  }
}

@media screen and (max-width: 575px) {
  .balanceCard_box .card_simple .icons {
    top: 50%;
  }
}

@media screen and (max-width: 991px) {
  .balanceCard_box .card_simple {
    height: auto;
    padding: 2rem;
  }
}

.balanceCard_box .page_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.balanceCard_box .page_title button.page_icon {
  height: 2.8rem;
  width: 2.8rem;
  margin-left: 0.6rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--color_lightprimary);
  color: var(--color_primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balanceCard_box .page_title button.page_icon svg {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--color_primary);
}

.balanceCard_box .page_title span {
  font-size: 2rem;
  color: var(--color_white);
  font-weight: 800;
}

.balanceCard_box .page_title span.dark {
  color: var(--color_dark);
}

@media screen and (max-width: 991px) {
  .balanceCard_box .page_title span {
    font-size: 1.6rem;
  }
}

.balanceCard_box .dropdown_btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color_lightprimary);
  color: var(--color_primary);
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 991px) {
  .balanceCard_box .dropdown_btn {
    display: none;
  }
}

.balanceCard_box button.btn_action_boost {
  padding: 0.8rem 2rem;
  width: 100%;
  border-radius: 5rem;
  font-size: 1.3rem;
  background-color: var(--color_primary);
  color: var(--color_white);
  text-transform: capitalize;
  margin-top: 0.6rem;
}

.balanceCard_box button.btn_action_boost svg {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
}

.balanceCard_box h4.amount {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color_white);
  margin-top: 4rem;
}

.balanceCard_box h4.amount.dark {
  color: var(--color_dark);
}

@media screen and (max-width: 991px) {
  .balanceCard_box h4.amount {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .balanceCard_box h4.amount {
    margin-top: 1rem;
  }
}

.balanceCard_box p.amount_small {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color_white);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.balanceCard_box p.amount_small.dark {
  color: var(--color_secondary);
}

@media screen and (max-width: 991px) {
  .balanceCard_box p.amount_small {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 575px) {
  .balanceCard_box p.amount_small {
    font-size: 1.3rem;
    margin-top: 0;
  }
}

.balanceCard_box .logo_mob {
  max-height: 4rem;
  max-height: 4rem;
  height: 100%;
  width: 100%;
}

.balanceCard_box .logo_mob img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 767px) {
  .balanceCard_box {
    padding: 1rem;
  }
}

.user_menu_action {
  max-width: 22rem;
}

.user_menu_action .MuiList-root {
  padding: 0;
}

.user_menu_action .MuiList-root .MuiButtonBase-root {
  padding: 0.5rem;
  margin-top: 0.5rem !important;
}

@media screen and (max-width: 991px) {
  .user_menu_action {
    max-width: 100%;
  }
}

.mobile_menu {
  width: 100%;
  background-color: var(--color_white);
  z-index: 50;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.earning_item {
  width: 100%;
  background-color: var(--color_white);
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid var(--border_color);
}

.earning_item .earning_content {
  width: calc(100% - 6rem);
  display: block;
}

.earning_item .earning_content p {
  font-size: 1.3rem;
  color: var(--color_dark);
}

.earning_item .earning_content h5 {
  font-size: 2.2rem;
  color: var(--color_primary);
  font-weight: 600;
  margin-top: 0.6rem;
}

@media screen and (max-width: 767px) {
  .earning_item .earning_content h5 {
    font-size: 1.6rem;
  }
}

.earning_item .earning_icon {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background: var(--color_primary);
  padding: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 10px rgba(98, 89, 202, 0.3);
          box-shadow: 0 5px 10px rgba(98, 89, 202, 0.3);
  color: var(--color_white);
}

.earning_item .earning_icon svg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .earning_item .earning_icon {
    height: 3.4rem;
    width: 3.4rem;
    padding: 0.6rem;
  }
}

@media screen and (max-width: 767px) {
  .earning_item {
    width: 100%;
    padding: 1.4rem;
  }
}

.owl_card_slider {
  margin-top: 1.5rem;
}

.owl_card_slider .owl_getCard {
  display: block;
}

.owl_card_slider .owl-nav {
  display: none;
}

.owl_card_slider .owl-controls .owl-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.owl_card_slider .owl-controls .owl-pagination .owl-page {
  margin-top: 1rem;
  text-align: left;
}

.owl_card_slider .owl-controls .owl-pagination .owl-page span {
  background-color: var(--color_dots) !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0.3rem !important;
}

.owl_card_slider .owl-controls .owl-pagination .owl-page.active span {
  background-color: var(--color_primary) !important;
  width: 4rem;
}

.owl_card_slider .owl-item {
  min-height: 20rem !important;
  margin-right: 1.5rem;
}

.owl_card_slider .owl-item .item {
  min-height: 20rem !important;
}

.owl_card_slider .owl-item .item .slider_card {
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
  min-height: 20rem !important;
  text-align: center;
  background-color: var(--color_white);
  border: 1px solid var(--border_color);
}

.owl_card_slider .owl-item .item .slider_card h5 {
  font-size: 1.6rem;
  color: var(--color_primary);
  font-weight: 500;
}

.owl_card_slider .owl-item .item .slider_card .card_symbol {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem;
  margin: 0 auto;
}

.owl_card_slider .owl-item .item .slider_card .card_symbol img {
  height: 100%;
  width: 100%;
}

.owl_card_slider .owl-item .item .slider_card p.symbol_name {
  font-size: 2rem;
  color: var(--color_dark);
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.owl_card_slider .owl-item .item .slider_card .slider_card_svg {
  text-align: right;
  height: 10rem;
  width: 10rem;
  padding: 0.6rem;
  margin: 0 auto;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.owl_card_slider .owl-item .item .slider_card .slider_card_svg svg,
.owl_card_slider .owl-item .item .slider_card .slider_card_svg img {
  max-width: 100%;
  max-height: 100%;
}

.owl_card_slider .owl-item .item .slider_card button.refer_btn {
  background-color: var(--color_primary);
  color: var(--color_white);
  padding: 0.8rem 2.2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.owl_card_slider .owl-item .item .slider_card .slider_card_content p {
  font-size: 1.3rem;
  color: var(--color_secondary);
  margin-bottom: 0.5rem;
}

.owl_card_slider .owl-item .item .slider_card .slider_card_content h6 {
  font-size: 2.2rem;
  color: var(--color_primary);
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.owl_card_slider .owl-item .item .slider_card .slider_card_content span {
  font-size: 1.2rem;
  color: var(--color_secondary);
  margin-left: 0.5rem;
}
/*# sourceMappingURL=balance.css.map */