// ========= Sidebar
.sidebar_menu {
  max-width: 10rem;
  width: 100%;
  height: 100vh;
  background-color: var(--color_white);
  border-right: 1px solid var(border_color);

  .logo {
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
    padding: 1.2rem;
    display: block;
    height: 7rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--border_color);
    text-align: center;

    svg,
    img {
      fill: var(--color_primary);
      height: 5rem;
      width: 5rem;
      margin: 0 auto;
      display: block;
    }

    @media screen and (max-width:991px) {
      display: none;
    }
  }

  .logo_big {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    border-bottom: 1px solid var(--border_color);
    padding: 2rem 1.5rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    @media screen and (max-width:991px) {
      display: none;
    }
  }

  .grid-content {
    display: grid;
    align-content: space-between;
    max-height: calc(100vh - 8rem);
    min-height: calc(100vh - 8rem);
  }

  ul.menu {
    padding: 0;
    margin-top: 2rem;
    overflow-y: auto;
    max-height: 100vh;
    height: 100%;
    position: relative;

    &.bottom {
      display: block;

      @media screen and (max-width:991px) {
        display: none;
      }
    }

    li.menu_item {
      width: 100%;
      padding: 0;
      padding: 0.6rem 0.6rem 0.6rem 0.6rem;

      a {
        padding: 0.8rem;
        font-size: 1.5rem;
        color: var(--color_dark);
        font-weight: 600;
        width: 100%;
        border-radius: 0.5rem;
        height: 3.8rem;
        min-width: 3.8rem;
        width: 3.8rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: left;

        svg {
          font-size: 100%;
          margin: 0 auto;

          @media screen and (max-width:991px) {
            width: 100%;
            height: 1.8rem;
          }
        }

        span {
          font-size: 1.4rem;
          color: var(--color_dark);
          width: 100%;
          margin-left: 1.5rem;
          display: none;

          @media screen and (max-width:991px) {
            display: inline-block;
            font-size: 1.2rem;
            margin-left: 0;
            color: var(--color_white);
          }
        }

        &.active {
          background: var(--color_primary);
          color: var(--color_white);
          box-shadow: 0 10px 10px 0 var(--shadow_primary);

          span {
            color: var(--color_white);
          }
        }

        @media screen and (max-width:991px) {
          display: block;
          text-align: center;
          font-size: 1.1rem;
          padding: 0.4rem 0.6rem !important;
          color: var(--color_grey);
          width: auto;
          min-width: auto;
          height: auto;
        }
      }

      &.user {
        padding: 1rem !important;

        .user_account {
          display: flex;
          align-items: center;
          padding: 1.5rem;
          background-color: var(--color_lightprimary);
          width: 100%;
          border-radius: 1rem;

          .user_img {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            display: none;
          }

          .user_name {
            display: none;
            width: calc(100% - 4rem);
            padding-left: 1rem;

            h5 {
              font-size: 1.4rem;
              color: var(--color_dark);
              font-weight: 500;
            }
          }
        }

        a.logout_btn {
          height: 3.5rem !important;
          width: 3.5rem !important;
          min-width: 3.5rem !important;
          background: transparent;
          border-radius: 0.5rem;
          box-shadow: none;
          color: var(--color_dark) !important;
          padding: 0.5rem !important;
        }
      }
    }

    li.btn_mobile_plus {

      button {
        min-width: 4rem;
        min-height: 4rem;
        height: 4rem;
        width: 4rem;
        background: var(--color_primary);
        color: var(--color_white);
        border: 3px solid var(--color_white);
        box-shadow: 0 -10px -10px 5px var(--shadow_primary);
        border-radius: 50%;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 0.5rem;
        z-index: 25;
        margin-top: -1rem;

        @media screen and (min-width:992px) {
          display: none;
        }
      }
    }

    @media screen and (max-width:991px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      overflow-y: visible;
    }
  }

  &.open {
    max-width: 26rem;
    min-width: 26rem;
    width: 100%;

    li.menu_item {
      padding-left: 0 !important;

      a {
        height: 4.5rem !important;
        min-width: 3.8rem !important;
        width: 100% !important;
        padding-left: 2.6rem !important;
        border-radius: 0 3rem 3rem 0 !important;

        span {
          display: block !important;
        }

        &.active {
          background: var(--color_primary);
          color: var(--color_white);
          box-shadow: 0 7px 12px 0 var(--color_lightprimary);

          span {
            color: var(--color_white);
          }

          @media screen and (max-width:991px) {
            color: var(--color_white);
            background-color: transparent;
          }
        }

        @media screen and (max-width:991px) {
          display: block;
          text-align: center;
          font-size: 1.1rem;
          padding: 0.4rem 0.6rem;
          color: var(--color_grey);
          width: auto;
        }
      }

      &.user {
        .user_account {
          .user_img {
            display: block !important;
          }

          .user_name {
            display: block !important;
          }
        }
      }
    }

    @media screen and (max-width:991px) {
      max-width: 100%;
    }
  }

  @media screen and (max-width:991px) {
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--color_primary);
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 50;
    transition: 0.3s;
    padding: 1rem;
    padding-top: 1.5rem;
    border-radius: 1rem 1rem 0 0;
    max-height: 8rem;
  }
}