
.setting_card {
  background-color: var(--color_white);
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--color_grey);
  margin-bottom: 2rem;

  .setting_header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color_grey);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color_primary);
    background-color: var(--color_lightprimary);
  }

  .setting_body {
    padding: 1.5rem;

    .chip{
      background-color: var(--color_secondary);
      border-radius: 3rem;
      color: var(--color_white);
      font-size: 1.2rem;
      display: inline-flex;
      align-items: center;
      width: auto;
      padding: 0.2rem 0.5rem;

      svg{
        height: 2rem;
      }
    }
    .setting_list {
      padding: 0;
      max-height: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color_grey);
        padding: 1rem !important;

        &:last-child {
          border-bottom: none;
        }

        p {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--color_secondary);
          margin-bottom: 0;

          @media screen and (max-width:767px) {
            margin-bottom: 0.6rem;
          }
        }

        h4 {
          font-size: 1.4rem;
          color: var(--color_primary);
          font-weight: 500;
          display: flex;
          align-items: center;

          a {
            font-size: 1.4rem;
            color: var(--color_lightprimary);
            font-weight: 600;
            text-decoration: underline;
            display: block;
            margin-left: 0.6rem;
          }
        }

        .filter {
          max-width: 16rem;

          .MuiSelect-select {
            padding: 0.8rem 3rem 0.8rem 0.8rem;
            font-size: 1.3rem;
            border-radius: 0.6rem;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            border: 1px solid var(--color_grey);
          }

          @media screen and (max-width:991px) {
            max-width: 100%;
            margin-top: 0.6rem;
          }
        }

        .datePicker {
          max-width: 16rem;
          border-radius: 0.5rem;
          margin: 0.5rem 1rem;
          border: 1px solid var(--color_grey);

          .MuiInputBase-root {
            .MuiInputBase-input {
              padding: 0.8rem 1rem;
              font-size: 1.3rem;
            }
          }

          @media screen and (max-width:767px) {
            margin-bottom: 0.6rem;
          }
        }

        .due_date {
          display: flex;
          align-items: center;
        }

        @media screen and (max-width:767px) {
          display: block;
          padding: 0.5rem 0;
        }
      }

    }
  }
}
 
.verify_step {
  max-width: 14rem;

  .MuiStepConnector-vertical {
    margin-left: 2.2rem;
  }

  .MuiStepLabel-iconContainer {
    svg {
      font-size: 2.4rem;
    }
  }

  .MuiStepConnector-line {
    background: var(--color_gradientprimary);
    height: 8rem;
    width: 3px;
    border-radius: 1rem;
  }

  .MuiStepLabel-label {
    color: var(--color_secondary) !important;
    font-size: 1.4rem;
  }
}

.form_box {
  margin: 1rem 0;

  .with_action {
    position: relative;

    button.input_actions {
      height: 4rem;
      width: 4rem;
      min-width: 3.4rem;
      background-color: transparent;
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      color: var(--color_primary);

      svg {
        font-size: 2rem;
      }
    }
  }

  .tag_line {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: var(--color_secondary);
  }
}

.alert{
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 1.2rem !important;

  .MuiAlert-message {
    font-size: 1.2rem;
  }
}

.copy_address{
  height: 3.5rem;
  width: 3.5rem;
}